.flexColumnEvenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    }

    & div {

        & span:first-child {
            font-weight: bold;
        }

        & span {
            padding: 7px;
        }
    }
}